#ignores
*.suo
*.csproj.user
*.user
*bin*
*obj/
*.mdf
*.ldf
*.gitattributes
*.log
.DS_Store
Thumbs.db
.idea/
*packages/
*node_modules/
*App_Data/
*PublishProfiles/
nuget.exe
*.nupkg
*TestResults/
.vs/
.vscode/
.envrc
.runsettings
coverage*.json
